/*This is the stylesheet for the franklin weather site*/
/* Table of COntents
1. Imports
2. General rules 
3. Mobile first rulers
4. Larger Screen rules  */


/* Section 1- Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');


/* Section 2 - General Rules */
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
    background-color:#0e89d5;      
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Sansita', 'eurostyle', sans-serif;
}
body{

    font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
  margin-bottom:100px
}

/* .image{
    position: relative;
    margin-bottom:50px;
  } */
#logo{
    height: 92px;
    align-content: center;
  }
  nav{
    background-color:#0e89d5;
    position: fixed;
    width:100%;
    bottom : 0px;
    align-content: space-around;
    

  }
  nav ul li { 
    display: inline-block; 
    list-style: none; 
    list-style-type: none;
    align-content: center; 
      
  }
  li a{
    text-decoration: none;
    color: white;
    margin:18pt;
  }
  footer{
    margin-bottom: 2em;
    background-color:#0e89d5;
    
   }
   #site-brand {
    font-size: 60pt;
    font-weight: 600;
    border: 20px;
    font-family:sans-serif;
  }
  .red{
    color: red;
  }
  .blue{
    color: blue;
  }
  .tempx{
    font-size:55pt;
  }
  #locInfo{
    font-weight: bold;
  }
 
  dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
  }

  #locName{
    font-size: 60pt;
  }
  #summary{
    height: 500px;
  border : solid 1px;
  border-radius : 15px;
  text-align : center;
  width: 100%;
  background-size: cover;
  align-self: center;
  background-repeat:no-repeat;
  }
   #sumImg{
    width: 270px;
    height: 180px;
    background-size: contain;
    align-self: center;
    background-repeat:no-repeat;
    margin: auto;
  }
  
  #rain
  {
    width: 200px;
    justify-content: center;
  }
  #hourly{
    height:150px;
  }
  .scroll{
    overflow: auto;
    white-space: nowrap;
  }
  ul li { /*This is the hourly stuff at the bottom*/
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
   #wind{ 
   display:flex;
   flex-direction: column;
  } 

  #wind>p span{
    font-weight: bold;
  }
  
    #overlay{
      
       position: relative;
     z-index:90;
    }
#play
{flex-grow: 2;

}

.tile {
  background-color : rgb(200 200 200 / 0.6);
  border : solid 1px;
  border-radius : 15px;
  text-align : center;
  width: 100%;
  }
  
  #dial {
  position : relative;
  height : 150px;
  width : 150px;
  background : url(/weather/images/franklin-images/optimized/wind-pointer_op.png) center /85% no-repeat;
  z-index : 90;
  margin : -0.6em auto 0;
  }
  
  .centered {
  position : relative;
  margin : 0;
  color : black;
  }
  .hide{
    display: none;
  }
 
  #curWeather{
    background-size: cover;
    
  }
  /* Individual Rules for picture and size-background */
.clear{
  background-image:url(/weather/images/franklin-images/optimized/clear_400.jpg);
}
.rain{
  
  background-image:url(/weather/images/franklin-images/optimized/rain_400.jpg);
}
.snow{
  background-image:url(/weather/images/franklin-images/optimized/snow_400.jpg);
}
.cloud{
  background-image:url(/weather/images/franklin-images/optimized/cloud_400.jpg);
}
.fog{
  background-image:url(/weather/images/franklin-images/optimized/fog_400.jpg);
}

  /* Weather directions */
.n{transform: rotate(0deg);}
.ne{transform: rotate(45deg);}
.e{transform: rotate(90deg);}
.se{transform: rotate(135deg);}
.s{transform: rotate(180deg);} 
.sw{transform: rotate(225deg);}
.w{transform: rotate(270deg);}
.nw{transform: rotate(315deg);}

  /* section 3- Larger Screen */
 @media only screen and (min-width:1400px){
  nav{
    position: relative;
    flex-wrap:nowrap;
  }
  #box{
    display: flex;
  }
  
  /* .rain{
  
    background-image:url(/weather/images/franklin-images/optimized/rain_800.jpg);
  } */
  .snow{
    background-image:url(/weather/images/franklin-images/optimized/snow_800.jpg);
  }
  .fog{
    background-image:url(/weather/images/franklin-images/optimized/fog_800.jpg);
  }
  .cloud{
    background-image:url(/weather/images/franklin-images/optimized/clouds_800.jpg);
  }
  .clear{
    background-image:url(/weather/images/franklin-images/optimized/clear_800.jpg);
  }


}
  