/*This is the stylesheet for the franklin weather site*/
/* Table of COntents
1. Imports
2. General rules 
3. Mobile first rulers
4. Larger Screen rules  */


/* Section 1- Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');


/* Section 2 - General Rules */
header{
    background-color:#0e89d5;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Sansita', sans-serif;
}
body{
    font-family: helvetica, arial, 'sans serif';
    font-size: 1.5em;
}