/*This is the stylesheet for the franklin weather site*/
/* Table of COntents
1. Imports
2. General rules 
3. Mobile first rulers
4. Larger Screen rules  */


/* Section 1- Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');


/* Section 2 - General Rules */
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
header{
    background-color:#0e89d5;      
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Sansita', 'eurostyle', sans-serif;
}
body{
    font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
  margin-bottom:100px
}
.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
  }
  .image{
    position: relative;
  }
  #logo{
    height: 92px;
    align-content: center;
  }
  nav ul li { 
    display: inline-block; 
    list-style: none; 
    list-style-type: none;
    align-content: center;    
  }
  li a{
    text-decoration: none;
    color: white;
    margin:18pt;
  }
  footer{
    margin-bottom: 2em;
    background-color:#0e89d5;
    
   }
   #site-brand {
    font-size: 60pt;
    font-weight: 600;
    border: 20px;
    font-family:sans-serif;
  }
.red{
  color: red;
}
.blue{
  color: blue;
}
.temp{
  font-size:55pt;
}
#locInfo{
  font-size: .75em;
}
#locName{
  font-size: 60pt;
}
#summary{
  background-image: url(/weather/images/franklin-images/rain.jpg);

}
.fill{
  object-fit: fill;
}
#rain{
  width: 200px;
  text-align: center;
}
ul {
  overflow: auto;
  white-space: nowrap;
}

ul li { /*This is the hourly stuff at the bottom*/
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#wind>p span{
  font-weight: bold;
}
.windy{
  position: relative;
  text-align: center;
  }
  #overlay{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
  }
/* Section 3 - Mobile Rules */
header>img{
  float:left;
}
dl{
  display: flex;
  flex-flow: row wrap;
}
dt{
  font-weight: bold;
}
nav { /*needs to move to mobile only*/
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  background-color:#0e89d5;  
  width: 100%;
  
}

/*Section 4- Larger Screen*/
@media screen and (min-width: 700px){
 
/* nav{ */
  
/* } */




}