/*This is the stylesheet for the franklin weather site*/
/* Table of COntents
1. Imports
2. General rules 
3. Mobile first rulers
4. Larger Screen rules  */


/* Section 1- Imports */

/* Section 2- General Rules*/
body{
    font-family: Arial, Helvetica, sans-serif;
    /* stops background from repeating, and coves entire screen */
    background-image: url('/acme/images/site/background.jpg');
    background-image: no-repeat;
    background-size: cover;
}

/* whitebox is background box on index page */
#whiteBox{
    background-color:#ffffff;
    margin:50px;
}
#headerImg{
    height: 240px;
}
nav{
    /* changes line height */
    line-height:4em; 
    /* background color and font color */
    background-color: #de2226;
    color: #ffffff;
}
#nava{
    /* alows nave to display flex and sideways */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* changes size and bullet points */
    list-style: none;
    font-size: 2em;
}
#headH1{
    font-size: 3em;
}
#homeImg{
    position: relative;
    width:100%;
}
#acmeRockInfo{
    font-size:1em;
    position: absolute;
    z-index: 1000;
    left:50%;
    top: 550px;
    line-height: 10%;
    color:#990033;
    flex-wrap: nowrap;

}
#acmeRockInfo h2{
    font-size:2em;
    
}

#modOne{
    /* display: flex; */
    /* width:50%; */
    /* background-color: pink; */

}
#acmeRockRev h2{
    font-size:2em;
    
}
#modTwo{
    /* width:50%; */
    /* background-color: aqua; */

}
#dishes{
    display: flex;
    flex-wrap: wrap;
}
figure{
    width: 30%;
    margin: 20px;
}
figure img{
    border-color: #808080;
    border-style: solid;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    width:50%;
}

footer{
    border-top: 5px solid black;
    text-align: center;
}

/* Section 3- Mobile Specific */

/* Section 4- Large Screen Only */
@media only screen and (min-width:1400px){
#modHolders{
    display: flex;
    
}
#acmeRockInfo{
    font-size:3em;
    line-height: 31%;
    
}
#acmeRockDish{
    font-size: 3em;
}
#acmeRockRev{
    font-size: 3em;
 
}

#modHolders{
    display: flex;
    flex-direction:row-reverse;

}
#modOne{
    display: flex;
    width:50%;
    
}
#modOneContent li{
    font-size:2em;
}
#modTwo{
    width:50%;
    
}
figure img{
    width:80%;
}

}